{%extends 'base.html'%}
{%block body%}
<a class="btn btn-primary"href="{%url 'add_comment' post.id%}">Add comment</a>
{%for c in post.comments.all%}
        <div class="container" style="border: 1px solid #e6e6e6; width:auto;padding:10px;">
            <h5><b>{{c.created_by}}</b></h5>
            <p>{{c.text}}</p>
        <h6>{{post.date}}</h6>

        {%if user == post.created_by%}
            <a href= "{%url 'update_com' c.id%}" class="btn btn-info pull-right">
                Update
            </a>
            <a href= "{%url 'delete_com' c.id%}" class="btn btn-danger pull-right">
                Delete
            </a>
        {%endif%}
        </div>
{%endfor%}
{%endblock%}
