{% extends 'base.html'%}


{% block body %}
<hr>
{%for post in posts%}
    <h1>{{post.title}} </h1>
    <p>date: {{post.date}}</p>
    <h4>{{post.content}}</h4>
    <hr>
    <a href=" {%url 'comments' post.id%}"><button type="button" class="btn btn-info">Comments</button></a>
    {% if user.is_authenticated %}

    <a href=" {%url 'update_post' post.id%}"><button type="button" class="btn btn-info">Update</button></a>
    <a href="{%url 'delete_post' post.id%}"><button type="button" class="btn btn-danger">Delete</button></a>
    {% endif %}
{% endfor %}


{% endblock %}