{% extends 'base.html' %}

{% block body %}

<hr>
    <h1>Tasks in "List 1"</h1>
<table>
    <tr>
        <th>Task</th>
        <th>Created</th>
        <th>Due on</th>
        <th>Owner</th>
        <th>Mark</th>
    </tr>
    {% for task in tasks %}
    <tr>

        <td style="color:#5086EB;">{{task.Task}}</td>
        <td>{{task.Created}} </td>
        <td>{{task.Due}}</td>
        <td>{{task.Owner}}</td>
        <td><button class = "done">{{task.Mark}}</button></td>
    </tr>
 {% endfor %}
</table>
{% endblock %}
