{% extends 'main/base.html' %}
{% block body %}
<a href = "{% url 'new_add'%}" class="btn btn-info">Add Task</a>
<br>
<br>
<table class=" table">
    <tr>
        <th>Task</th>
        <th>Created date</th>
        <th>Due on</th>
        <th>Owner</th>
        <th>Mark</th>
    </tr>
    {%for task in Task%}
    <tr>
        <td style="color:Blue;">{{task.name}}</td>
        <td>{{task.created_time}}</td>
        <td>{{task.due_on}}</td>
        <td>{{user.name}}</td>
        <td>
            <button class="btn btn-info">
        {%if Mark == Fasle%}
            Done
        {%else%}
            Not done
        {%endif%}
            </button>
        </td>
        {%if user == task.owner%}
        <td>
            <a href="{%url 'update' task.id%}" class="btn  btn-info">
                Update
            </a>
        </td>
        <td>
            <a href="{%url 'delete' task.id%}" class="btn  btn-danger">
                Delete
            </a>
        </td>
        {%endif%}
    </tr>
    {%endfor%}
</table>
{% endblock %}
